export PATH="$HOME/wasi-sdk/build/install/bin:$PATH"
export PATH="$HOME/Repos/cpython/cross-build/wasm32-wasip1:$PATH"

export WASI_SDK_PATH="$HOME/wasi-sdk/build/install"
export CPY_ROOT="$HOME/Repos/WebAssemblyFinalProject/cpython/"
export CPY_WASM_ROOT="$CPY_ROOT/cross-build/wasm32-wasip1/"
export PY_WASM="$CPY_WASM_ROOT/python.wasm"

REBUILD="cd $CPY_ROOT && python3 Tools/wasm/wasi.py build --quiet -- --config-cache --with-pydebug"

export REBUILD # run with eval "$REBUILD"
